.reg_span{
    color:gray;
    font-size: 25px;
    margin-left: 30px;
}
.login_span{
    color:black;
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
}


img {
    width: 100%;
    height: 100%;
}

.app{
    height: 900px;
    width: 500px;

}

.eee{
    width: 90%;
    font-size: 25px;
    margin-left:30px;
    font-weight: bold;
    color: red;
    border-radius: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:400px; height:50px;
    border:1px solid #DBDBDB;
    
}

#wq::-webkit-input-placeholder {
    color: black;
    

}

.aaa {
    background-color: #FFEFF0;
    color: red;
    border-radius: 90px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:150px; height:50px;
    border:1px solid #DBDBDB;
    
}


.qqq{
    width: 50%;
    font-size: 25px;
    margin-left:30px;
    font-weight: bold;
    border-radius: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:250px; height:50px;
    border:1px solid #DBDBDB;
   
}

#ww::-webkit-input-placeholder {
    color: black;
}

.zzz{
    width: 90%;
    font-size: 25px;
    margin-left:30px;
    font-weight: bold;
    border-radius: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:400px; height:50px;
    border:1px solid #DBDBDB;
}

#zz::-webkit-input-placeholder {
    color: black;
}

.dx{
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333333
}

.xx{
     text-align: center;
   
}

.vv{
    font-size: 25px;
    border-radius:90px;
    width: 80%;
    background-color:#F65C54;
    color: #FFEFF0;
    margin-top: 20px;
    margin-bottom: 20px;
    width:400px; height:60px;
    border:1px solid #DBDBDB;
}
.tt{
    text-align: center;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.img{
    width: 10%;
    margin-left: 40px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.yy{
    text-align: center;
    color: gray;
    margin-top: 20px;
    font-weight: bold; 
    
}

a {
    color: #279DE0;
  }

.ss{
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 20px;
}
